### ASSIGNMENT-4
### WEB SCRAPING

#### • Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.
#### • You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-element-exception/380233

##### 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos                                                          
You need to find following details:                                                                                            
A) Rank                                                                                                                        
B) Name                                                                                                                        
C) Artist                                                                                                                       
D) Upload date                                                                                                              
E) Views

In [1]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [3]:
# opening the page on automated chrome browser
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
driver.maximize_window()

In [5]:
# empty lists
rank = []
name = []
artist = []
upload_date = []
views = []

# scraping and storing data
rows = driver.find_elements(By.XPATH,'//*[@id="mw-content-text"]/div/table[2]/tbody/tr')
for r in rows:
    
    # scraping rank
    rank_tags = r.find_element(By.XPATH,"td[1]").text
    rank.append(rank_tags)
    
    # scraping name
    name_tags = r.find_element(By.XPATH,"td[2]").text
    name.append(name_tags.split('"')[1])
    
    # scraping artist
    artist_tags = r.find_element(By.XPATH,"td[3]").text
    artist.append(artist_tags)
    
    # scraping upload date
    date = r.find_element(By.XPATH,"td[5]").text
    upload_date.append(date)
    
    # scraping views
    view_tags = r.find_element(By.XPATH,"td[4]").text
    views.append(view_tags)

In [6]:
print(len(rank),len(name),len(artist),len(upload_date),len(views))

30 30 30 30 30

In [7]:
# making dataframe
videos = pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Upload date':upload_date,'Views':views})

In [8]:
videos

,Rank,Name,Artist,Upload date,Views
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.73
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.14
2,3.,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.69
3,4.,Bath Song,Cocomelon – Nursery Rhymes,"May 2, 2018",6.15
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",5.97
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",5.86
6,7.,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.26
7,8.,Wheels on the Bus,Cocomelon – Nursery Rhymes,"May 24, 2018",5.14
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",4.89
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.87
10,11.,Gangnam Style,Psy,"July 15, 2012",4.77
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.55
12,13.,Dame Tu Cosita,El Chombo,"April 5, 2018",4.32
13,14.,Axel F,Crazy Frog,"June 16, 2009",3.87
14,15.,Sugar,Maroon 5,"January 14, 2015",3.86
15,16.,Roar,Katy Perry,"September 5, 2013",3.78
16,17.,Counting Stars,OneRepublic,"May 31, 2013",3.77
17,18.,Sorry,Justin Bieber,"October 22, 2015",3.65
18,19.,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,"June 25, 2018",3.61
19,20.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.58
20,21.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.56
21,22.,Dark Horse,Katy Perry,"February 20, 2014",3.50
22,23.,Faded,Alan Walker,"December 3, 2015",3.44
23,24.,Perfect,Ed Sheeran,"November 9, 2017",3.42
24,25.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.42
25,26.,Let Her Go,Passenger,"July 25, 2012",3.42
26,27.,Girls Like You,Maroon 5,"May 31, 2018",3.40
27,28.,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.38
28,29.,Lean On,Major Lazer,"March 22, 2015",3.37
29,30.,Bailando,Enrique Iglesias,"April 11, 2014",3.37

In [9]:
driver.close()

##### 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/                                                                                                     
You need to find following details:                                                                                  
A) Match title (I.e. 1stODI)                                                                                          
B) Series                                                                                                                       
C) Place                                                                                                              
D) Date                                                                                                                     
E) Time                                                                                                  
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [11]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [12]:
# opening the page on automated chrome browser
driver.get(" https://www.bcci.tv/")

In [13]:
driver.maximize_window()

In [14]:
# clicking on international
international = driver.find_element(By.XPATH,'//ul[@class="nav navbar-nav  align-items-center"]/li[2]/a')
international.click()

In [15]:
# scraping match title
try:
    match_title = driver.find_element(By.CLASS_NAME,"matchOrderText ng-binding ng-scope").text.split(" -")[0]
except NoSuchElementException as e:
    print('Exception raised:',e)
    match_title = driver.find_element(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]').text.split(" -")[0]

Exception raised: Message: no such element: Unable to locate element: {"method":"css selector","selector":".matchOrderText ng-binding ng-scope"}
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0060DCE3+50899]
	(No symbol) [0x0059E111]
	(No symbol) [0x004A5588]
	(No symbol) [0x004D08F9]
	(No symbol) [0x004D0AFB]
	(No symbol) [0x004FF902]
	(No symbol) [0x004EB944]
	(No symbol) [0x004FE01C]
	(No symbol) [0x004EB6F6]
	(No symbol) [0x004C7708]
	(No symbol) [0x004C886D]
	GetHandleVerifier [0x00873EAE+2566302]
	GetHandleVerifier [0x008A92B1+2784417]
	GetHandleVerifier [0x008A327C+2759788]
	GetHandleVerifier [0x006A5740+672048]
	(No symbol) [0x005A8872]
	(No symbol) [0x005A41C8]
	(No symbol) [0x005A42AB]
	(No symbol) [0x005971B7]
	BaseThreadInitThunk [0x76C57D49+25]
	RtlInitializeExceptionChain [0x777BB74B+107]
	RtlClearBits [0x777BB6CF+191]

In [16]:
match_title

'Final'

In [17]:
# scraping series
try:
    series = driver.find_element(By.CLASS_NAME,"match-tournament-name ng-binding").text
except NoSuchElementException as e:
    print('Exception raised:',e)
    series = driver.find_element(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]').text

Exception raised: Message: no such element: Unable to locate element: {"method":"css selector","selector":".match-tournament-name ng-binding"}
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0060DCE3+50899]
	(No symbol) [0x0059E111]
	(No symbol) [0x004A5588]
	(No symbol) [0x004D08F9]
	(No symbol) [0x004D0AFB]
	(No symbol) [0x004FF902]
	(No symbol) [0x004EB944]
	(No symbol) [0x004FE01C]
	(No symbol) [0x004EB6F6]
	(No symbol) [0x004C7708]
	(No symbol) [0x004C886D]
	GetHandleVerifier [0x00873EAE+2566302]
	GetHandleVerifier [0x008A92B1+2784417]
	GetHandleVerifier [0x008A327C+2759788]
	GetHandleVerifier [0x006A5740+672048]
	(No symbol) [0x005A8872]
	(No symbol) [0x005A41C8]
	(No symbol) [0x005A42AB]
	(No symbol) [0x005971B7]
	BaseThreadInitThunk [0x76C57D49+25]
	RtlInitializeExceptionChain [0x777BB74B+107]
	RtlClearBits [0x777BB6CF+191]

In [18]:
series

'ICC WORLD TEST CHAMPIONSHIP FINAL 2023'

In [19]:
# scraping place
try:
    place = driver.find_element(By.CLASS_NAME,"match-place ng-scope").text.split(" - ")[1]
except NoSuchElementException as e:
    print('Exception raised:',e)
    place = driver.find_element(By.XPATH,'//div[@class="match-place ng-scope"]').text.split(" - ")[1]

Exception raised: Message: no such element: Unable to locate element: {"method":"css selector","selector":".match-place ng-scope"}
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0060DCE3+50899]
	(No symbol) [0x0059E111]
	(No symbol) [0x004A5588]
	(No symbol) [0x004D08F9]
	(No symbol) [0x004D0AFB]
	(No symbol) [0x004FF902]
	(No symbol) [0x004EB944]
	(No symbol) [0x004FE01C]
	(No symbol) [0x004EB6F6]
	(No symbol) [0x004C7708]
	(No symbol) [0x004C886D]
	GetHandleVerifier [0x00873EAE+2566302]
	GetHandleVerifier [0x008A92B1+2784417]
	GetHandleVerifier [0x008A327C+2759788]
	GetHandleVerifier [0x006A5740+672048]
	(No symbol) [0x005A8872]
	(No symbol) [0x005A41C8]
	(No symbol) [0x005A42AB]
	(No symbol) [0x005971B7]
	BaseThreadInitThunk [0x76C57D49+25]
	RtlInitializeExceptionChain [0x777BB74B+107]
	RtlClearBits [0x777BB6CF+191]

In [20]:
place

'Kennington Oval, London'

In [21]:
# scraping date
try:
    date = driver.find_element(By.CLASS_NAME,"match-dates ng-binding").text
except NoSuchElementException as e:
    print('Exception raised:',e)
    date = driver.find_element(By.XPATH,'//div[@class="match-dates ng-binding"]').text

Exception raised: Message: no such element: Unable to locate element: {"method":"css selector","selector":".match-dates ng-binding"}
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0060DCE3+50899]
	(No symbol) [0x0059E111]
	(No symbol) [0x004A5588]
	(No symbol) [0x004D08F9]
	(No symbol) [0x004D0AFB]
	(No symbol) [0x004FF902]
	(No symbol) [0x004EB944]
	(No symbol) [0x004FE01C]
	(No symbol) [0x004EB6F6]
	(No symbol) [0x004C7708]
	(No symbol) [0x004C886D]
	GetHandleVerifier [0x00873EAE+2566302]
	GetHandleVerifier [0x008A92B1+2784417]
	GetHandleVerifier [0x008A327C+2759788]
	GetHandleVerifier [0x006A5740+672048]
	(No symbol) [0x005A8872]
	(No symbol) [0x005A41C8]
	(No symbol) [0x005A42AB]
	(No symbol) [0x005971B7]
	BaseThreadInitThunk [0x76C57D49+25]
	RtlInitializeExceptionChain [0x777BB74B+107]
	RtlClearBits [0x777BB6CF+191]

In [22]:
date

'7 JUN 2023'

In [23]:
# scraping time
try:
    time = driver.find_element(By.CLASS_NAME,"match-time no-margin ng-binding").text
except NoSuchElementException as e:
    print('Exception raised:',e)
    time = driver.find_element(By.XPATH,'//div[@class="match-time no-margin ng-binding"]').text

Exception raised: Message: no such element: Unable to locate element: {"method":"css selector","selector":".match-time no-margin ng-binding"}
  (Session info: chrome=112.0.5615.138)
Stacktrace:
Backtrace:
	GetHandleVerifier [0x0060DCE3+50899]
	(No symbol) [0x0059E111]
	(No symbol) [0x004A5588]
	(No symbol) [0x004D08F9]
	(No symbol) [0x004D0AFB]
	(No symbol) [0x004FF902]
	(No symbol) [0x004EB944]
	(No symbol) [0x004FE01C]
	(No symbol) [0x004EB6F6]
	(No symbol) [0x004C7708]
	(No symbol) [0x004C886D]
	GetHandleVerifier [0x00873EAE+2566302]
	GetHandleVerifier [0x008A92B1+2784417]
	GetHandleVerifier [0x008A327C+2759788]
	GetHandleVerifier [0x006A5740+672048]
	(No symbol) [0x005A8872]
	(No symbol) [0x005A41C8]
	(No symbol) [0x005A42AB]
	(No symbol) [0x005971B7]
	BaseThreadInitThunk [0x76C57D49+25]
	RtlInitializeExceptionChain [0x777BB74B+107]
	RtlClearBits [0x777BB6CF+191]

In [24]:
time

'3:30 PM IST'

In [25]:
# dictionary
fixtures = {'Match title':match_title,'Series':series,'Place':place,'Date':date,'Time':time}
fixtures

{'Match title': 'Final',
 'Series': 'ICC WORLD TEST CHAMPIONSHIP FINAL 2023',
 'Place': 'Kennington Oval, London',
 'Date': '7 JUN 2023',
 'Time': '3:30 PM IST'}

In [26]:
driver.close()

##### 3. Scrape the details of State-wise GDP of India from statisticstime.com.  
Url = http://statisticstimes.com/                                                                      
You have to find following details:                                                                                            
A) Rank                                                                                                                    
B) State                                                                                                                      
C) GSDP(18-19)- at current prices                                                                                              
D) GSDP(19-20)- at current prices                                                                                      
E) Share(18-19)                                                                                                         
F) GDP($ billion)                                                                                                      
Note: - From statisticstimes home page you have to reach to economy page through code.

In [27]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
import warnings
warnings.filterwarnings('ignore')

In [28]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [29]:
# opening the page on automated chrome browser
driver.get(" http://statisticstimes.com/")

In [30]:
driver.maximize_window()

In [31]:
# select economy
economy = driver.find_elements(By.XPATH,'//div[@class="navbar"]/div[2]')
for i in economy:
    eco = i.find_element(By.XPATH,"button")
    eco.click()
    
    india = i.find_element(By.XPATH,"div/a[3]")
    india.click()
time.sleep(2)

In [32]:
# closing pop-up ads
driver.switch_to.frame('aswift_2')                     # switch frame
time.sleep(1)
driver.switch_to.frame('ad_iframe')
time.sleep(1)
driver.find_element(By.ID,"dismiss-button").click()    # click on close button

In [33]:
# click on GDP of Indian states
GDP_india = driver.find_element(By.XPATH,'//a[@href="india/indian-states-gdp.php"]').click()

In [34]:
# creating empty lists
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP = []

# scraping required data
rows = driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr')
for row in rows:
    rank = row.find_element(By.XPATH,"td[1]").text                    # scraping rank
    Rank.append(rank)
    
    state = row.find_element(By.XPATH,"td[2]").text                  # scraping state
    State.append(state)
    
    gsdp1 = row.find_element(By.XPATH,"td[3]").text                 # scraping GSDP(19-20)
    GSDP1.append(gsdp1)
    
    gsdp2 = row.find_element(By.XPATH,"td[4]").text                # scraping GSDP(18-19)
    GSDP2.append(gsdp2)
    
    share = row.find_element(By.XPATH,"td[5]").text                # Scraping Share(18-19)
    Share.append(share)
    
    gdp = row.find_element(By.XPATH,"td[6]").text                  # scraping GDP($billion)
    GDP.append(gdp)

In [35]:
print(len(Rank),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP))

33 33 33 33 33 33

In [36]:
# making dataframe
GSDP = pd.DataFrame({
    'Rank':Rank,
    'State':State,
    'GSDP(19-20) at current prices':GSDP1,
    'GSDP(18-19) at current prices':GSDP2,
    'Share(18-19)':Share,
    'GDP($billion)':GDP})

In [37]:
GSDP

,Rank,State,GSDP(19-20) at current prices,GSDP(18-19) at current prices,Share(18-19),GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [38]:
driver.close()

##### 4. Scrape the details of trending repositories on Github.com. 
Url = https://github.com/                                                                                                   
You have to find the following details:                                                                                    
A) Repository title                                                                                                      
B) Repository description                                                                                                     
C) Contributors count                                                                                                     
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [39]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [40]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [41]:
# opening the page on automated chrome browser
driver.get("https://github.com/")

In [42]:
driver.maximize_window()

In [43]:
# clicking on open source and trending option
explore = driver.find_elements(By.XPATH,'//ul[@class="d-lg-flex list-style-none"]/li[3]')
for i in explore:
    open_source = i.find_element(By.XPATH,"button")
    open_source.click()
    
    trending = i.find_element(By.XPATH,"div/div[3]/ul/li[2]/a")
    trending.click()

In [44]:
# empty lists
repo_title = []
repo_des = []
contributors = []
language_used = []


# scraping required data
rows = driver.find_elements(By.XPATH,'//article[@class="Box-row"]')
for row in rows:
    
     # repository title
    title = row.find_element(By.XPATH,'.//h2[@class="h3 lh-condensed"]//a')
    repo_title.append(title.text)
    
    # repository description    
    try:
        description = row.find_element(By.XPATH,'.//p[@class="col-9 color-fg-muted my-1 pr-4"]')
        repo_des.append(description.text)
    except NoSuchElementException:
        repo_des.append("-")
        
    # contributors count
    count = row.find_elements(By.XPATH,'.//span[@class="d-inline-block mr-3"]/a')
    contributors.append(len(count))
    
    # language used    
    try:
        language = row.find_element(By.XPATH,'.//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
        language_used.append(language.text)
    except NoSuchElementException:
        language_used.append("-")

In [45]:
print(len(repo_title),len(repo_des),len(contributors),len(language_used))

25 25 25 25

In [46]:
# making dataframe
trending_repo = pd.DataFrame({
    'Repository title':repo_title,
    'Repository description':repo_des,
    'Contributors count':contributors,
    'Language used':language_used
})

In [47]:
trending_repo

,Repository title,Repository description,Contributors count,Language used
0,xtekky / gpt4free,"decentralising the Ai Industry, just some lang...",5,Python
1,AIGC-Audio / AudioGPT,"AudioGPT: Understanding and Generating Speech,...",5,Python
2,gaomingqi / Track-Anything,Track-Anything is a flexible and interactive t...,5,Python
3,Eugeny / tabby,A terminal for a more modern age,5,TypeScript
4,whoiskatrin / chart-gpt,AI tool to build charts based on text input,5,TypeScript
5,apple / swift-foundation,The Foundation project,5,Swift
6,gmpetrov / databerry,The no-code platform for connecting custom dat...,3,TypeScript
7,deep-floyd / IF,-,5,Python
8,UX-Decoder / Segment-Everything-Everywhere-All...,"Official implementation of the paper ""Segment ...",5,Python
9,nlpxucan / WizardLM,WizardLM: Empowering Large Pre-Trained Languag...,3,Python
10,QiuChenly / QQFlacMusicDownloader,[秋城落叶] QQ 音乐源无损歌曲下载,5,Python
11,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,5,-
12,ai-collection / ai-collection,The Generative AI Landscape - A Collection of ...,5,-
13,GreyDGL / PentestGPT,A GPT-empowered penetration testing tool,3,HTML
14,juspay / hyperswitch,An Open Source Financial Switch to make Paymen...,5,Rust
15,Snaacky / dndserver,Dark and Darker private server implementation ...,5,Python
16,NVIDIA / NeMo-Guardrails,NeMo Guardrails is an open-source toolkit for ...,1,Python
17,farizrahman4u / loopgpt,Modular Auto-GPT Framework,5,Python
18,litanlitudan / skyagi,SkyAGI: Emerging human-behavior simulation cap...,4,Python
19,isaiahbjork / Auto-GPT-MetaTrader-Plugin,The AutoGPT MetaTrader Plugin is a software to...,2,Python
20,ZrrSkywalker / LLaMA-Adapter,Fine-tuning LLaMA to follow Instructions withi...,5,Python
21,agalwood / Motrix,A full-featured download manager.,5,JavaScript
22,BigBrotherTrade / trader,交易模块,1,Python
23,0hq / WebGPT,Run GPT model on the browser with WebGPU. An i...,5,JavaScript
24,angular / angular,The modern web developer’s platform,5,TypeScript

In [48]:
driver.close()

##### 5. Scrape the details of top 100 songs on billiboard.com. 
Url = https:/www.billboard.com/                                                                                              
You have to find the following details:                                                                                      
A) Song name                                                                                                                 
B) Artist name                                                                                                               
C) Last week rank                                                                                                           
D) Peak rank                                                                                                                  
E) Weeks on board                                                                                                              
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [49]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [50]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [51]:
# opening the page on automated chrome browser
driver.get("https:/www.billboard.com/")

In [52]:
driver.maximize_window()

In [53]:
# clicking on charts
chart = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]')
chart.click()

In [54]:
# click on Billboard Hot 100
hot_100 = driver.find_element(By.XPATH,'//div[@class="u-flex-grow-0 lrv-u-text-align-center"]')
hot_100.click()

In [55]:
# empty lists
song_name = []
artist_name = []
last_week_rank = []
peak_rank = []
weeks_on_chart = []

# scraping required data

rows = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul')
for r in rows:
    
    element = r.find_elements(By.XPATH,"li[1]")
    for ele in element:
        song = ele.find_element(By.XPATH,"h3").text                      # scraping song name
        song_name.append(song)
        
        artist = ele.find_element(By.XPATH,"span").text                  # scraping artist name
        artist_name.append(artist)
    
    last = r.find_element(By.XPATH,"li[4]").text                        # scraping last week rank
    last_week_rank.append(last)
    
    peak = r.find_element(By.XPATH,"li[5]").text                        # scraping peak rank
    peak_rank.append(peak)
    
    weeks = r.find_element(By.XPATH,"li[6]").text                       # scraping weeks on chart
    weeks_on_chart.append(weeks)

In [56]:
print(len(song_name),len(artist_name),len(last_week_rank),len(peak_rank),len(weeks_on_chart))

100 100 100 100 100

In [57]:
# making dataframe
Top_100_songs = pd.DataFrame({
    'Song name':song_name,
    'Artist name':artist_name,
    'Last week rank':last_week_rank,
    'Peak rank':peak_rank,
    'Weeks on board':weeks_on_chart
})

In [58]:
Top_100_songs

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,Kill Bill,SZA,4,1,19
1,Last Night,Morgan Wallen,1,1,12
2,Flowers,Miley Cyrus,3,1,14
3,Princess Diana,Ice Spice & Nicki Minaj,-,4,1
4,Ella Baila Sola,Eslabon Armado X Peso Pluma,10,5,5
...,...,...,...,...,...
95,Memory Lane,Old Dominion,96,96,3
96,Love Again,The Kid LAROI,88,40,12
97,'98 Braves,Morgan Wallen,100,27,7
98,Di Que Si,Grupo Marca Registrada X Grupo Frontera,-,99,1
99,It Matters To Her,Scotty McCreery,-,100,1

In [59]:
driver.close()

##### 6. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare              
You have to find the following details:                                                                                      
A) Book name                                                                                                               
B) Author name                                                                                                                
C) Volumes sold                                                                                                             
D) Publisher                                                                                                                 
E) Genre

In [60]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [61]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [62]:
# opening the page on automated chrome browser
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [63]:
driver.maximize_window()

In [64]:
# empty lists
book_name = []
author_name = []
volumes_sold = []
publisher = []
genre = []

# scraping required data
rows = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr')

for r in rows:
    book = r.find_element(By.XPATH,"td[2]").text                      # scraping book name
    book_name.append(book)
    
    author = r.find_element(By.XPATH,"td[3]").text                   # scraping author name
    author_name.append(author)
    
    volumes = r.find_element(By.XPATH,"td[4]").text                 # scraping volumes sold
    volumes_sold.append(volumes)
    
    pub = r.find_element(By.XPATH,"td[5]").text                     # scraping publisher
    publisher.append(pub)
    
    gen = r.find_element(By.XPATH,"td[6]").text                     # scraping genre
    genre.append(gen)

In [65]:
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(genre))

100 100 100 100 100

In [66]:
# making dataframe
Books = pd.DataFrame({
    'Book name':book_name,
    'Author name':author_name,
    'Vloumes sold':volumes_sold,
    'Publisher':publisher,
    'Genre':genre})

In [67]:
Books

,Book name,Author name,Vloumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [68]:
driver.close()

###### 7. Scrape the details most watched tv series of all time from imdb.com. 
Url = https://www.imdb.com/list/ls095964455/                                                                                
You have to find the following details:                                                                                        
A) Name                                                                                                                       
B) Year span                                                                                                                   
C) Genre                                                                                                                    
D) Run time                                                                                                                   
E) Ratings                                                                                                                   
F) Votes

In [69]:
# Import required libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [70]:
# send GET request

page = requests.get('https://www.imdb.com/list/ls095964455/')

In [71]:
# checking response code
page

In [72]:
# page content
soup = BeautifulSoup(page.content)

In [73]:
# empty lists
Name = []
year = []
genre = []
run_time = []
ratings = []
votes = []

# scraping required data

name_year = soup.find_all('h3', class_="lister-item-header")
for i in name_year:
    Name.append(i.text.split('\n')[2])                        # scraping name
    year.append(i.text.split('\n')[3])                        # scraping year span
    
gen = soup.find_all('span',class_="genre")                    # scraping genre
for g in gen:
    genre.append(g.text.strip())
    
time = soup.find_all('span',class_="runtime")                       # scraping time
for t in time:
    run_time.append(t.text)
    
rating = soup.find_all('div',class_="ipl-rating-star small")       # scraping time
for j in rating:
    ratings.append(j.text.strip())
    
vote = soup.find_all(attrs={"name":"nv"})                          # scraping votes
for v in vote:
    votes.append(v.text)

In [74]:
print(len(Name),len(year),len(genre),len(run_time),len(ratings),len(votes))

100 100 100 100 100 100

In [75]:
# making dataframe
TV_series = pd.DataFrame({'Name':Name,'Year span':year,'Genre':genre,'Run time':run_time,'Ratings':ratings,'Votes':votes})

In [76]:
TV_series

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,154,408"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,236,266"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,023,467"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"301,149"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"260,115"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,430"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,465"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"206,930"
98,Scream,(2015–2019),"Comedy, Crime, Drama",45 min,7,"42,974"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"256,618"

##### 8. Details of Datasets from UCI machine learning repositories. 
Url = https://archive.ics.uci.edu/                                                                                           
You have to find the following details:                                                                                      
A) Dataset name                                                                                                            
B) Data type                                                                                                             
C) Task                                                                                                                     
D) Attribute type                                                                                                          
E) No of instances                                                                                                           
F) No of attribute                                                                                                          
G) Year                                                                                                                       
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [77]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [78]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [79]:
# opening the page on automated chrome browser
driver.get("https://archive.ics.uci.edu/")

In [80]:
driver.maximize_window()

In [81]:
# clicking on view all data sets
show_all = driver.find_element(By.TAG_NAME,"b")
show_all.click()

In [82]:
# creating empty lists
dataset_name = []
data_type = []
task = []
attribute_type = []
no_of_instances = []
no_of_attribute = []
year = []


# scraping dataset name
name = driver.find_elements(By.XPATH,'//p[@class="normal"]/b')
for i in name:
    try:
        dataset_name.append(i.text)
    except NoSuchElementException:
        dataset_name.append("-")
time.sleep(2)


# scraping required data
rows = driver.find_elements(By.XPATH,"//table[2]/tbody/tr/td[2]/table[2]/tbody/tr")

for r in rows[1:623]:
    
    try:
        types = r.find_element(By.XPATH,"td[2]").text                # scraping data type
        if types == ' ':
            data_type.append("-")
        else:
            data_type.append(types)
    except NoSuchElementException:
        data_type.append("-")
        
    try:
        task1 = r.find_element(By.XPATH,"td[3]").text               # scraping task
        if task1 == ' ':
            task.append("-")
        else:
            task.append(task1)
    except NoSuchElementException:
        task.append("-")
        
    try:
        attr_type = r.find_element(By.XPATH,"td[4]").text          # scraping attribute type
        if attr_type == ' ':
            attribute_type.append("-")
        else:
            attribute_type.append(attr_type)
    except NoSuchElementException:
        attribute_type.append("-")
        
    try:
        instance = r.find_element(By.XPATH,"td[5]").text          # scraping no. of instances
        if instance == ' ':
            no_of_instances.append("-")
        else:
            no_of_instances.append(instance)
    except NoSuchElementException:
        no_of_instances("-")
        
    try:
        attr_no = r.find_element(By.XPATH,"td[6]").text          # scraping no. of attribute
        if attr_no == ' ':
            no_of_attribute.append("-")
        else:
            no_of_attribute.append(attr_no)
    except NoSuchElementException:
        no_of_attribute.append("-")
        
    try:
        yrs = r.find_element(By.XPATH,"td[7]").text             # scraping years
        if yrs == ' ':
            year.append("-")
        else:
            year.append(yrs)
    except NoSuchElementException:
        year.append("-")

In [83]:
print(len(dataset_name),len(data_type),len(task),len(attribute_type),len(no_of_instances),len(no_of_attribute),len(year))

622 622 622 622 622 622 622

In [84]:
# making dataframe
Datasets = pd.DataFrame({
    'Dataset name':dataset_name,
    'Data type':data_type,
    'Task':task,
    'Attribute type':attribute_type,
    'No. of instances':no_of_instances,
    'No. of attribute':no_of_attribute,
    'Year':year,
})

In [85]:
Datasets

,Dataset name,Data type,Task,Attribute type,No. of instances,No. of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [86]:
driver.close()

##### 9. Scrape the details of Data science recruiters    
Url = https://www.naukri.com/hr-recruiters-consultants                                                                      
You have to find the following details:                                                                                       
A) Name                                                                                                                    
B) Designation                                                                                                            
C) Company                                                                                                                
D) Skills they hire for                                                                                           
E) Location                                                                                                                 
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [88]:
# Import required libraries

import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [89]:
# connecting to the driver
driver = webdriver.Chrome(r"Z:\chromedriver\chromedriver.exe")

In [90]:
# opening the page on automated chrome browser
driver.get("https://www.naukri.com/hr-recruiters-consultants")

In [91]:
driver.maximize_window()

In [92]:
# enter designation in search bar
search_bar = driver.find_element(By.NAME,"qp")
search_bar.send_keys('Data science')

In [93]:
# click on search button
search_button = driver.find_element(By.ID,"qsbFormBtn")
search_button.click()

In [94]:
# empty lists
name = []
designation = []
company = []
skills = []
location = []

# page limit
start = 0
end = 10

# scraping required data
for page in range(start,end):
    
    rows = driver.find_elements(By.XPATH,'//div[@class="recInfo"]')
    for row in rows:
        # name
        try:
            name_tag = row.find_element(By.XPATH,'.//span[@class="fl ellipsis"]').text
            name.append(name_tag)
        except NoSuchElementException:
            name.append("-")
        
        # designation
        try:
            designation_tag = row.find_element(By.XPATH,'.//span[@class="ellipsis clr"]').text
            designation.append(designation_tag)
        except NoSuchElementException:
            designation.append("-")
        
        # company
        try:
            comp = row.find_element(By.XPATH,'.//p[@class="highlightable"]/a[2]').text
            company.append(comp)
        except NoSuchElementException:
            company.append("-")
        
        # skills
        try:
            skill = row.find_element(By.XPATH,'div[2]').text
            skills.append(skill)
        except NoSuchElementException:
            skills.append("-")
        
        # location
        try:
            loc = row.find_element(By.XPATH,'.//small[@class="ellipsis"]').text
            location.append(loc)
        except NoSuchElementException:
            location.append("-")
            
    time.sleep(5)
    NEXT = driver.find_element(By.XPATH,"//*[text()='Next']").click()
    time.sleep(5)

In [95]:
print(len(name),len(designation),len(company),len(skills),len(location))

500 500 500 500 500

In [97]:
# making dataframe
Recruiters_info = pd.DataFrame({
    'Name':name,
    'Designation':designation,
    'Company':company,
    'Skills':skills,
    'Location':location
})

In [98]:
Recruiters_info

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
...,...,...,...,...,...
495,Naveen Raina,Director,CLICKVALLEY,"html5, css, javascript, angularjs, asp.net mvc...",Delhi
496,Ritvvij Parrikh,CEO,Pykih Data Intelligence Private Limited,"Javascript, React.js, Data Science, Machine Le...",Mumbai
497,Birendra Bisht,Founder and CEO,Intello Transpo Private Limited,Not Specified,Delhi
498,Neha,Recruitment Consultant,Dreamz Consultants,"Software Development, Scrum Master, Supply Cha...",Ernakulam
499,Bhagyashree Chandak,Talent Acquisition Manager,phData,"Javascript, Scala, Python, Spark, Cloudera, Hi...",Bengaluru / Bangalore

In [99]:
driver.close()