###                   ASSIGNMENT-1
###                   WEB SCRAPING

#### 1) Write a python program to display all the header tags  from wikipedia.org  and make data frame.

In [1]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# send GET request

page_1 = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [3]:
# Checking response code
page_1

In [4]:
# Page content
S1 = BeautifulSoup(page_1.content)

In [5]:
# first headline
h1 = S1.find('span', class_="mw-headline")
h1.text

'Welcome to Wikipedia'

In [6]:
wiki_page = []   # empty list

wiki_page.append(h1.text)       # adding first headline

for i in S1.find_all('h2', class_="mp-h2"):
    wiki_page.append(i.text)

wiki_page

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [7]:
# making DataFrame

wikipedia_page = pd.DataFrame({'wikipedia_main_page_contents': wiki_page})
wikipedia_page

    wikipedia_main_page_contents
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

#### 2) Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame.

In [8]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [9]:
# send GET request

page_2 = requests.get("https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc")

In [10]:
# checking response code
page_2

In [11]:
# page content

S2 = BeautifulSoup(page_2.content)

In [12]:
movies = []     # empty list

for i in S2.find_all('h3',class_="lister-item-header"):
    movies.append(i.text.split('\n')[2])
movies

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 "Schindler's List",
 'The Godfather Part II',
 '12 Angry Men',
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Fight Club',
 'Inception',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'The Lord of the Rings: The Two Towers',
 'Il buono, il brutto, il cattivo',
 'Jai Bhim',
 'GoodFellas',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'The Empire Strikes Back',
 'Interstellar',
 'The Silence of the Lambs',
 'Se7en',
 'Star Wars',
 'Saving Private Ryan',
 'The Green Mile',
 'Terminator 2: Judgment Day',
 'Sen to Chihiro no kamikakushi',
 'Cidade de Deus',
 'La vita è bella',
 'Shichinin no samurai',
 "It's a Wonderful Life",
 'Seppuku',
 'Gisaengchung',
 'The Departed',
 'Gladiator',
 'Whiplash',
 'The Prestige',
 'Léon',
 'Alien',
 'Rear Window',
 'Back to the Future',
 'Apocalypse Now',
 'The Lion King',
 'Psycho',
 'The Usual Suspects',
 'The Pianist',
 'American History X',
 'The Intouchables',
 'Casablanca',
 'Once Upon a Time in the West']

In [13]:
year = []    # empty list

for i in S2.find_all('h3',class_="lister-item-header"):
    year.append(i.text.split('(')[1].split(')')[0])
year

['1994',
 '1972',
 '2008',
 '1993',
 '1974',
 '1957',
 '2003',
 '1994',
 '1999',
 '2010',
 '2001',
 '1994',
 '2002',
 '1966',
 '2021',
 '1990',
 '1999',
 '1975',
 '1980',
 '2014',
 '1991',
 '1995',
 '1977',
 '1998',
 '1999',
 '1991',
 '2001',
 '2002',
 '1997',
 '1954',
 '1946',
 '1962',
 '2019',
 '2006',
 '2000',
 '2014',
 '2006',
 '1994',
 '1979',
 '1954',
 '1985',
 '1979',
 '1994',
 '1960',
 '1995',
 '2002',
 '1998',
 '2011',
 '1942',
 '1968']

In [14]:
movie_ratings = []   # empty list

for i in S2.find_all('div',class_="inline-block ratings-imdb-rating"):
    movie_ratings.append(i.text.split('\n')[2])
movie_ratings

['9.3',
 '9.2',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '9.0',
 '8.9',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5']

In [15]:
print(len(movies),len(year),len(movie_ratings))

50 50 50

In [16]:
# making DataFrame

movies_list = pd.DataFrame({'name':movies,'rating':movie_ratings,'year of release':year})

print("\033[1m"+"IMDB's Top Rated 50 Movies"+"\033[0m")
movies_list

IMDB's Top Rated 50 Movies

                                                 name rating year of release
0                            The Shawshank Redemption    9.3            1994
1                                       The Godfather    9.2            1972
2                                     The Dark Knight    9.0            2008
3                                    Schindler's List    9.0            1993
4                               The Godfather Part II    9.0            1974
5                                        12 Angry Men    9.0            1957
6       The Lord of the Rings: The Return of the King    9.0            2003
7                                        Pulp Fiction    8.9            1994
8                                          Fight Club    8.8            1999
9                                           Inception    8.8            2010
10  The Lord of the Rings: The Fellowship of the Ring    8.8            2001
11                                       Forrest Gump    8.8            1994
12              The Lord of the Rings: The Two Towers    8.8            2002
13                    Il buono, il brutto, il cattivo    8.8            1966
14                                           Jai Bhim    8.8            2021
15                                         GoodFellas    8.7            1990
16                                         The Matrix    8.7            1999
17                    One Flew Over the Cuckoo's Nest    8.7            1975
18                            The Empire Strikes Back    8.7            1980
19                                       Interstellar    8.6            2014
20                           The Silence of the Lambs    8.6            1991
21                                              Se7en    8.6            1995
22                                          Star Wars    8.6            1977
23                                Saving Private Ryan    8.6            1998
24                                     The Green Mile    8.6            1999
25                         Terminator 2: Judgment Day    8.6            1991
26                      Sen to Chihiro no kamikakushi    8.6            2001
27                                     Cidade de Deus    8.6            2002
28                                    La vita è bella    8.6            1997
29                               Shichinin no samurai    8.6            1954
30                              It's a Wonderful Life    8.6            1946
31                                            Seppuku    8.6            1962
32                                       Gisaengchung    8.5            2019
33                                       The Departed    8.5            2006
34                                          Gladiator    8.5            2000
35                                           Whiplash    8.5            2014
36                                       The Prestige    8.5            2006
37                                               Léon    8.5            1994
38                                              Alien    8.5            1979
39                                        Rear Window    8.5            1954
40                                 Back to the Future    8.5            1985
41                                     Apocalypse Now    8.5            1979
42                                      The Lion King    8.5            1994
43                                             Psycho    8.5            1960
44                                 The Usual Suspects    8.5            1995
45                                        The Pianist    8.5            2002
46                                 American History X    8.5            1998
47                                   The Intouchables    8.5            2011
48                                         Casablanca    8.5            1942
49                       Once Upon a Time in the West    8.5            1968

#### 3) Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [17]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [18]:
# send GET request

page_3 = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [19]:
# checking response code
page_3

In [20]:
# page content
S3 = BeautifulSoup(page_3.content)

In [21]:
movies_IND = []     # empty list

for i in S3.find_all('td', class_="titleColumn"):
    movies_IND.append(i.text.split('\n')[2].split('      ')[1])
movies_50 = movies_IND[:50]
movies_50

['Ramayana: The Legend of Prince Rama',
 'Rocketry: The Nambi Effect',
 'Nayakan',
 'Gol Maal',
 '777 Charlie',
 'Anbe Sivam',
 'Pariyerum Perumal',
 'Jai Bhim',
 'Apur Sansar',
 '3 Idiots',
 'Manichitrathazhu',
 '#Home',
 'Soorarai Pottru',
 'Black Friday',
 'Kumbalangi Nights',
 'C/o Kancharapalem',
 'Taare Zameen Par',
 'Kireedam',
 'Dangal',
 'Kaithi',
 'Jersey',
 '96',
 'Maya Bazaar',
 'Natsamrat',
 'Drishyam 2',
 'Asuran',
 'Sita Ramam',
 'Thevar Magan',
 'Visaaranai',
 'Sarpatta Parambarai',
 'Thalapathi',
 'Nadodikkattu',
 'Pather Panchali',
 'Drishyam',
 'Thani Oruvan',
 'Jaane Bhi Do Yaaro',
 'Vada Chennai',
 'Aparajito',
 'Sardar Udham',
 'Khosla Ka Ghosla!',
 'Anniyan',
 'Ratsasan',
 'Chupke Chupke',
 'Gangs of Wasseypur',
 'Drishyam',
 'Peranbu',
 'Mahanati',
 'Bangalore Days',
 'Satya',
 'Premam']

In [22]:
yrs = []     # empty list

for i in S3.find_all('td', class_="titleColumn"):
    yrs.append(i.text.split('(')[1].split(')')[0])
yrs_50 = yrs[:50]    
yrs_50

['1993',
 '2022',
 '1987',
 '1979',
 '2022',
 '2003',
 '2018',
 '2021',
 '1959',
 '2009',
 '1993',
 '2021',
 '2020',
 '2004',
 '2019',
 '2018',
 '2007',
 '1989',
 '2016',
 '2019',
 '2019',
 '2018',
 '1957',
 '2016',
 '2021',
 '2019',
 '2022',
 '1992',
 '2015',
 '2021',
 '1991',
 '1987',
 '1955',
 '2013',
 '2015',
 '1983',
 '2018',
 '1956',
 '2021',
 '2006',
 '2005',
 '2018',
 '1975',
 '2012',
 '2015',
 '2018',
 '2018',
 '2014',
 '1998',
 '2015']

In [23]:
rating_IND = []     # empty list

for i in S3.find_all('td', class_="ratingColumn imdbRating"):
    rating_IND.append(i.text.split('\n')[1])
rating_50 = rating_IND[:50]   
rating_50

['8.6',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [24]:
print(len(movies_50),len(yrs_50),len(rating_50))

50 50 50

In [25]:
# making DataFrame
Indian_movies = pd.DataFrame({'name':movies_50 , 'rating':rating_50 , 'year of release':yrs_50})

print("\033[1m"+"IMDB's Top Rated 50 Indian Movies"+"\033[0m")
Indian_movies

IMDB's Top Rated 50 Indian Movies

                                   name rating year of release
0   Ramayana: The Legend of Prince Rama    8.6            1993
1            Rocketry: The Nambi Effect    8.4            2022
2                               Nayakan    8.4            1987
3                              Gol Maal    8.4            1979
4                           777 Charlie    8.4            2022
5                            Anbe Sivam    8.4            2003
6                     Pariyerum Perumal    8.4            2018
7                              Jai Bhim    8.4            2021
8                           Apur Sansar    8.4            1959
9                              3 Idiots    8.4            2009
10                     Manichitrathazhu    8.3            1993
11                                #Home    8.3            2021
12                      Soorarai Pottru    8.3            2020
13                         Black Friday    8.3            2004
14                    Kumbalangi Nights    8.3            2019
15                    C/o Kancharapalem    8.3            2018
16                     Taare Zameen Par    8.3            2007
17                             Kireedam    8.3            1989
18                               Dangal    8.3            2016
19                               Kaithi    8.3            2019
20                               Jersey    8.3            2019
21                                   96    8.3            2018
22                          Maya Bazaar    8.2            1957
23                            Natsamrat    8.2            2016
24                           Drishyam 2    8.2            2021
25                               Asuran    8.2            2019
26                           Sita Ramam    8.2            2022
27                         Thevar Magan    8.2            1992
28                           Visaaranai    8.2            2015
29                  Sarpatta Parambarai    8.2            2021
30                           Thalapathi    8.2            1991
31                         Nadodikkattu    8.2            1987
32                      Pather Panchali    8.2            1955
33                             Drishyam    8.2            2013
34                         Thani Oruvan    8.2            2015
35                   Jaane Bhi Do Yaaro    8.2            1983
36                         Vada Chennai    8.2            2018
37                            Aparajito    8.2            1956
38                         Sardar Udham    8.2            2021
39                    Khosla Ka Ghosla!    8.2            2006
40                              Anniyan    8.2            2005
41                             Ratsasan    8.1            2018
42                        Chupke Chupke    8.1            1975
43                   Gangs of Wasseypur    8.1            2012
44                             Drishyam    8.1            2015
45                              Peranbu    8.1            2018
46                             Mahanati    8.1            2018
47                       Bangalore Days    8.1            2014
48                                Satya    8.1            1998
49                               Premam    8.1            2015

#### 4) Write a python program to display list of respected former presidents of India(i.e. Name , Term ofoffice) from https://presidentofindia.nic.in/former-presidents.htm and make data frame.

In [26]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [27]:
# send GET request

page_4 = requests.get('https://presidentofindia.nic.in/former-presidents.htm')

In [28]:
# checking response code
page_4

In [29]:
# page content
S4 = BeautifulSoup(page_4.content)

In [30]:
pre_name = []       # empty list
term = []          # empty list

for i in S4.find_all('div', class_="presidentListing"):
    pre_name.append(i.text.split('\n')[1].split(' (')[0])
    term.append(i.text.split(': ')[1].split('\n')[0])
    
    
print('president name:\n',pre_name,'\n\nterms of office:\n',term)

president name:
 ['Shri Ram Nath Kovind', 'Shri Pranab Mukherjee', 'Smt Pratibha Devisingh Patil', 'DR. A.P.J. Abdul Kalam', 'Shri K. R. Narayanan', 'Dr Shankar Dayal Sharma', 'Shri R Venkataraman', 'Giani Zail Singh', 'Shri Neelam Sanjiva Reddy', 'Dr. Fakhruddin Ali Ahmed', 'Shri Varahagiri Venkata Giri', 'Dr. Zakir Husain', 'Dr. Sarvepalli Radhakrishnan', 'Dr. Rajendra Prasad']

terms of office:
 ['25 July, 2017 to 25 July, 2022 ', '25 July, 2012 to 25 July, 2017 ', '25 July, 2007 to 25 July, 2012 ', '25 July, 2002 to 25 July, 2007 ', '25 July, 1997 to 25 July, 2002 ', '25 July, 1992 to 25 July, 1997 ', '25 July, 1987 to 25 July, 1992 ', '25 July, 1982 to 25 July, 1987 ', '25 July, 1977 to 25 July, 1982 ', '24 August, 1974 to 11 February, 1977', '3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974', '13 May, 1967 to 3 May, 1969', '13 May, 1962 to 13 May, 1967', '26 January, 1950 to 13 May, 1962']

In [31]:
print(len(pre_name),len(term))

14 14

In [32]:
# making DataFrame
former_presidents = pd.DataFrame({'Name':pre_name,'Terms of office':term})

print("\033[1m"+"Former Presidents of India"+"\033[0m")

former_presidents

Former Presidents of India

,Name,Terms of office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 19..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

#### 5)  Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.
#### a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#### b) Top 10 ODI Batsmen along with the records of their team and rating.
#### c) Top 10 ODI bowlers along with the records of their team and rating.

In [33]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

##### 5(a) Top 10 ODI teams in men's cricket

In [34]:
# send GET request

page_51 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [35]:
# checking response code
page_51

In [36]:
# page content
S51 = BeautifulSoup(page_51.content)

In [37]:
# rank first team matches
first_Mm = S51.find('td', class_="rankings-block__banner--matches")
first_Mm = first_Mm.text
first_Mm

'35'

In [38]:
# rank first team points
first_Mpts = S51.find('td', class_="rankings-block__banner--points")
first_Mpts = first_Mpts.text
first_Mpts

'3,965'

In [39]:
# rank first team rating
first_Mr = S51.find('td', class_="rankings-block__banner--rating u-text-right")
first_Mr=first_Mr.text.split('\n                            ')[1]
first_Mr

'113'

In [40]:
# empty lists
team=[]
matches=[]
points=[]
rating=[]

In [41]:
# 10 team name
for i in S51.find_all('span', class_="u-hide-phablet"):
    team.append(i.text)
    
M_10team = team[:10]
M_10team

['Australia',
 'India',
 'New Zealand',
 'England',
 'Pakistan',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [42]:
# adding data in lists

matches.append(first_Mm)
points.append(first_Mpts)
rating.append(first_Mr)

In [43]:
# matches and points
for i in S51.find_all('tr', class_="table-body"):
    matches.append(i.text.split('\n')[7])
    points.append(i.text.split('\n')[8])
    
M_10matches=matches[:10]
M_10pts = points[:10]

In [44]:
M_10matches

['35', '47', '30', '36', '25', '29', '38', '35', '43', '20']

In [45]:
M_10pts

['3,965',
 '5,294',
 '3,367',
 '3,988',
 '2,649',
 '2,919',
 '3,625',
 '3,037',
 '3,105',
 '1,419']

In [46]:
# rating
for i in S51.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
    
M_10rating = rating[:10]
M_10rating

['113', '113', '112', '111', '106', '101', '95', '87', '72', '71']

In [47]:
print(len(M_10team),len(M_10matches),len(M_10pts),len(M_10rating))

10 10 10 10

In [48]:
position = [1,2,3,4,5,6,7,8,9,10]

In [49]:
# making DataFrame

Top_10team_men = pd.DataFrame({'Position':position,'Team':M_10team,'Matches':M_10matches,'Points':M_10pts,'Rating':M_10rating})

print("\033[1m"+"Top 10 Men's ODI Team"+"\033[0m")

Top_10team_men

Top 10 Men's ODI Team

   Position          Team Matches Points Rating
0         1     Australia      35  3,965    113
1         2         India      47  5,294    113
2         3   New Zealand      30  3,367    112
3         4       England      36  3,988    111
4         5      Pakistan      25  2,649    106
5         6  South Africa      29  2,919    101
6         7    Bangladesh      38  3,625     95
7         8     Sri Lanka      35  3,037     87
8         9   West Indies      43  3,105     72
9        10   Afghanistan      20  1,419     71

In [50]:
# Data for 5(b) and 5(c) are on the same page
# send GET request
page_52 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')

In [51]:
# checking response code
page_52

In [52]:
# page content
S52 = BeautifulSoup(page_52.content)

In [53]:
# rank first players (batsman and bowler)
banner_player_men = []     # empty list

for i in S52.find_all('div', class_="rankings-block__banner--name"):
    banner_player_men.append(i.text)
    
banner_player_men[:2]

['Babar Azam', 'Josh Hazlewood']

In [54]:
# rank first player's team name
banner_team_men = []     # empty list

for i in S52.find_all('div',class_="rankings-block__banner--nationality"):
    banner_team_men.append(i.text.split('\n')[2])
    
banner_team_men[:2]

['PAK', 'AUS']

In [55]:
# rank first player rating
banner_rating_men = []    # empty list

for i in S52.find_all('div', class_="rankings-block__banner--rating"):
    banner_rating_men.append(i.text)
    
banner_rating_men[:2]

['887', '705']

In [56]:
cell_player_men = []    # empty list

for i in S52.find_all('td', class_="table-body__cell name"):
    cell_player_men.append(i.text.split('\n')[1])
    
cell_player_men[:18]

['Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan',
 'Matt Henry']

In [57]:
cell_team_men = []     #empty list

for i in S52.find_all('span', class_="table-body__logo-text"):
    cell_team_men.append(i.text)
    
cell_team_men[:18]

['SA',
 'PAK',
 'SA',
 'IND',
 'AUS',
 'IND',
 'IND',
 'AUS',
 'PAK',
 'NZ',
 'IND',
 'AUS',
 'AFG',
 'AUS',
 'PAK',
 'AFG',
 'BAN',
 'NZ']

In [58]:
cell_rating_men = []     #empty list

for i in S52.find_all('td', class_="table-body__cell u-text-right rating"):
    cell_rating_men.append(i.text)
    
cell_rating_men[:18]

['777',
 '740',
 '740',
 '738',
 '726',
 '719',
 '707',
 '702',
 '699',
 '701',
 '691',
 '686',
 '659',
 '652',
 '641',
 '637',
 '636',
 '635']

In [59]:
# creating empty lists
P_batting_men = []
T_batting_men = []
R_batting_men = []
P_bowling_men = []
T_bowling_men = []
R_bowling_men = []

##### 5(b) top 10 ODI batsmen

In [60]:
# players name
P_batting_men.append(banner_player_men[0])

for i in cell_player_men[:9]:
    P_batting_men.append(i)
    
P_batting_men

['Babar Azam',
 'Rassie van der Dussen',
 'Imam-ul-Haq',
 'Quinton de Kock',
 'Shubman Gill',
 'David Warner',
 'Virat Kohli',
 'Rohit Sharma',
 'Steve Smith',
 'Fakhar Zaman']

In [61]:
# team name
T_batting_men.append(banner_team_men[0])

for i in cell_team_men[:9]:
    T_batting_men.append(i)
    
T_batting_men

['PAK', 'SA', 'PAK', 'SA', 'IND', 'AUS', 'IND', 'IND', 'AUS', 'PAK']

In [62]:
# rating
R_batting_men.append(banner_rating_men[0])

for i in cell_rating_men[:9]:
    R_batting_men.append(i)
    
R_batting_men

['887', '777', '740', '740', '738', '726', '719', '707', '702', '699']

In [63]:
print(len(P_batting_men),len(T_batting_men),len(R_batting_men))

10 10 10

In [64]:
# making DataFrame
ODI_batting_ranking_men =pd.DataFrame({'Position':position,'Player':P_batting_men,'Team':T_batting_men,'Rating':R_batting_men})
print("\033[1m"+"Top 10 Men's ODI Batting Rankings"+"\033[0m")

ODI_batting_ranking_men

Top 10 Men's ODI Batting Rankings

   Position                 Player Team Rating
0         1             Babar Azam  PAK    887
1         2  Rassie van der Dussen   SA    777
2         3            Imam-ul-Haq  PAK    740
3         4        Quinton de Kock   SA    740
4         5           Shubman Gill  IND    738
5         6           David Warner  AUS    726
6         7            Virat Kohli  IND    719
7         8           Rohit Sharma  IND    707
8         9            Steve Smith  AUS    702
9        10           Fakhar Zaman  PAK    699

##### 5(c) top 10 ODI bowlers

In [65]:
# players name
P_bowling_men.append(banner_player_men[1])

for i in cell_player_men[9:18]:
    P_bowling_men.append(i)
    
P_bowling_men

['Josh Hazlewood',
 'Trent Boult',
 'Mohammed Siraj',
 'Mitchell Starc',
 'Rashid Khan',
 'Adam Zampa',
 'Shaheen Afridi',
 'Mujeeb Ur Rahman',
 'Shakib Al Hasan',
 'Matt Henry']

In [66]:
# team name
T_bowling_men.append(banner_team_men[1])

for i in cell_team_men[9:18]:
    T_bowling_men.append(i)
    
T_bowling_men

['AUS', 'NZ', 'IND', 'AUS', 'AFG', 'AUS', 'PAK', 'AFG', 'BAN', 'NZ']

In [67]:
# rating
R_bowling_men.append(banner_rating_men[1])

for i in cell_rating_men[9:18]:
    R_bowling_men.append(i)
    
R_bowling_men

['705', '701', '691', '686', '659', '652', '641', '637', '636', '635']

In [68]:
print(len(P_bowling_men),len(T_bowling_men),len(R_bowling_men))

10 10 10

In [69]:
# making dataframe
ODI_bowling_ranking_men = pd.DataFrame({'Position':position,'Player':P_bowling_men,'Team':T_bowling_men,'Rating':R_bowling_men})
print("\033[1m"+"Top 10 ODI Men's Bowling Rankings"+"\033[0m")

ODI_bowling_ranking_men

Top 10 ODI Men's Bowling Rankings

   Position            Player Team Rating
0         1    Josh Hazlewood  AUS    705
1         2       Trent Boult   NZ    701
2         3    Mohammed Siraj  IND    691
3         4    Mitchell Starc  AUS    686
4         5       Rashid Khan  AFG    659
5         6        Adam Zampa  AUS    652
6         7    Shaheen Afridi  PAK    641
7         8  Mujeeb Ur Rahman  AFG    637
8         9   Shakib Al Hasan  BAN    636
9        10        Matt Henry   NZ    635

#### 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame.
####  a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
####  b) Top 10 women’s ODI Batting players along with the records of their team and rating.
####  c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [70]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

##### 6(a) Top 10 ODI teams in women's cricket

In [71]:
# send GET request

page_61 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [72]:
# checking response code
page_61

In [73]:
# page content
S61 = BeautifulSoup(page_61.content)

In [74]:
# rank first team matches
first_Wm = S61.find('td', class_="rankings-block__banner--matches")
first_Wm = first_Wm.text
first_Wm

'21'

In [75]:
# rank first team points
first_Wpts = S61.find('td', class_="rankings-block__banner--points")
first_Wpts = first_Wpts.text
first_Wpts

'3,603'

In [76]:
# rank first team rating 
first_Wr = S61.find('td', class_="rankings-block__banner--rating u-text-right")
first_Wr=first_Wr.text.split('\n                            ')[1]
first_Wr

'172'

In [77]:
# empty lists
team_W=[]
matches_W=[]
points_W=[]
rating_W=[]

In [78]:
# top 10 team name
for i in S61.find_all('span', class_="u-hide-phablet"):
    team_W.append(i.text)
    
W_10team = team_W[:10]
W_10team

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Bangladesh',
 'Thailand',
 'Pakistan',
 'Sri Lanka']

In [79]:
# adding data in lists

matches_W.append(first_Wm)
points_W.append(first_Wpts)
rating_W.append(first_Wr)

In [80]:
# matches and points
for i in S61.find_all('tr', class_="table-body"):
    matches_W.append(i.text.split('\n')[7])
    points_W.append(i.text.split('\n')[8])
    
W_10matches=matches_W[:10]
W_10pts = points_W[:10]

In [81]:
W_10matches

['21', '28', '26', '27', '25', '27', '13', '8', '27', '8']

In [82]:
W_10pts

['3,603',
 '3,342',
 '3,098',
 '2,820',
 '2,553',
 '2,535',
 '983',
 '572',
 '1,678',
 '353']

In [83]:
# rating
for i in S61.find_all('td',class_="table-body__cell u-text-right rating"):
    rating_W.append(i.text)
    
W_10rating = rating_W[:10]
W_10rating

['172', '119', '119', '104', '102', '94', '76', '72', '62', '44']

In [84]:
print(len(W_10team),len(W_10matches),len(W_10pts),len(W_10rating))

10 10 10 10

In [85]:
position = [1,2,3,4,5,6,7,8,9,10]

In [86]:
# making DataFrame

Top_10team_women = pd.DataFrame({'Position':position,'Team':W_10team,'Matches':W_10matches,'Points':W_10pts,'Rating':W_10rating})

print("\033[1m"+"Top 10 Women's ODI Team"+"\033[0m")

Top_10team_women

Top 10 Women's ODI Team

   Position          Team Matches Points Rating
0         1     Australia      21  3,603    172
1         2       England      28  3,342    119
2         3  South Africa      26  3,098    119
3         4         India      27  2,820    104
4         5   New Zealand      25  2,553    102
5         6   West Indies      27  2,535     94
6         7    Bangladesh      13    983     76
7         8      Thailand       8    572     72
8         9      Pakistan      27  1,678     62
9        10     Sri Lanka       8    353     44

In [87]:
# Data for 6(b) and 6(c) are on the same page
# send GET request
page_62 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

In [88]:
# checking response code
page_62

In [89]:
# page content
S62 = BeautifulSoup(page_62.content)

In [90]:
# rank first players (batsman and all-roubder)
banner_player_women = []     # empty list

for i in S62.find_all('div', class_="rankings-block__banner--name"):
    banner_player_women.append(i.text)
    
banner_player_women[:3:2]

['Alyssa Healy', 'Hayley Matthews']

In [91]:
# rank first player's team name
banner_team_women = []     # empty list

for i in S62.find_all('div',class_="rankings-block__banner--nationality"):
    banner_team_women.append(i.text.split('\n')[2])
    
banner_team_women[:3:2]

['AUS', 'WI']

In [92]:
# rank first players rating
banner_rating_women = []    # empty list

for i in S62.find_all('div', class_="rankings-block__banner--rating"):
    banner_rating_women.append(i.text)
    
banner_rating_women[:3:2]

['762', '373']

In [93]:
# players name
cell_player_women = []    # empty list

for i in S62.find_all('td', class_="table-body__cell name"):
    cell_player_women.append(i.text.split('\n')[1])
    
print('Batting:\n',cell_player_women[:9],'\n\nAll-Rounder:\n',cell_player_women[18:27])

Batting:
 ['Beth Mooney', 'Laura Wolvaardt', 'Natalie Sciver', 'Meg Lanning', 'Harmanpreet Kaur', 'Smriti Mandhana', 'Rachael Haynes', 'Chamari Athapaththu', 'Amy Satterthwaite']

All-Rounder:
 ['Natalie Sciver', 'Ellyse Perry', 'Marizanne Kapp', 'Amelia Kerr', 'Deepti Sharma', 'Ashleigh Gardner', 'Jess Jonassen', 'Nida Dar', 'Jhulan Goswami']

In [94]:
# team name
cell_team_women = []     #empty list

for i in S62.find_all('span', class_="table-body__logo-text"):
    cell_team_women.append(i.text)
    
print('Batting:\n',cell_team_women[:9],'\n\nAll-Rounder:\n',cell_team_women[18:27])

Batting:
 ['AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

All-Rounder:
 ['ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [95]:
# rating
cell_rating_women = []     #empty list

for i in S62.find_all('td', class_="table-body__cell u-text-right rating"):
    cell_rating_women.append(i.text)
    
print(cell_rating_women[:9],'\n',cell_rating_women[18:27])

['754', '732', '731', '717', '716', '714', '680', '655', '641']
 ['371', '366', '349', '336', '322', '292', '250', '232', '214']

In [96]:
# creating empty lists
P_batting_women = []
T_batting_women = []
R_batting_women = []
P_AR_women = []
T_AR_women = []
R_AR_women = []

##### 6(b) top 10 women's ODI batting ranking

In [97]:
# players
P_batting_women.append(banner_player_women[0])

for i in cell_player_women[:9]:
    P_batting_women.append(i)
    
P_batting_women

['Alyssa Healy',
 'Beth Mooney',
 'Laura Wolvaardt',
 'Natalie Sciver',
 'Meg Lanning',
 'Harmanpreet Kaur',
 'Smriti Mandhana',
 'Rachael Haynes',
 'Chamari Athapaththu',
 'Amy Satterthwaite']

In [98]:
# team
T_batting_women.append(banner_team_women[0])

for i in cell_team_women[:9]:
    T_batting_women.append(i)
    
T_batting_women

['AUS', 'AUS', 'SA', 'ENG', 'AUS', 'IND', 'IND', 'AUS', 'SL', 'NZ']

In [99]:
# rating
R_batting_women.append(banner_rating_women[0])

for i in cell_rating_women[:9]:
    R_batting_women.append(i)
    
R_batting_women

['762', '754', '732', '731', '717', '716', '714', '680', '655', '641']

In [100]:
print(len(P_batting_women),len(T_batting_women),len(R_batting_women))

10 10 10

In [101]:
# making DataFrame
ODI_batting_ranking_women =pd.DataFrame({'Position':position,'Player':P_batting_women,'Team':T_batting_women,'Rating':R_batting_women})
print("\033[1m"+"Top 10 Women's ODI Batting Rankings"+"\033[0m")

ODI_batting_ranking_women

Top 10 Women's ODI Batting Rankings

   Position               Player Team Rating
0         1         Alyssa Healy  AUS    762
1         2          Beth Mooney  AUS    754
2         3      Laura Wolvaardt   SA    732
3         4       Natalie Sciver  ENG    731
4         5          Meg Lanning  AUS    717
5         6     Harmanpreet Kaur  IND    716
6         7      Smriti Mandhana  IND    714
7         8       Rachael Haynes  AUS    680
8         9  Chamari Athapaththu   SL    655
9        10    Amy Satterthwaite   NZ    641

##### 6(c) top 10 ODI All-Rounder

In [102]:
# players
P_AR_women.append(banner_player_women[2])

for i in cell_player_women[18:27]:
    P_AR_women.append(i)
    
P_AR_women

['Hayley Matthews',
 'Natalie Sciver',
 'Ellyse Perry',
 'Marizanne Kapp',
 'Amelia Kerr',
 'Deepti Sharma',
 'Ashleigh Gardner',
 'Jess Jonassen',
 'Nida Dar',
 'Jhulan Goswami']

In [103]:
# team
T_AR_women.append(banner_team_women[2])

for i in cell_team_women[18:27]:
    T_AR_women.append(i)
    
T_AR_women

['WI', 'ENG', 'AUS', 'SA', 'NZ', 'IND', 'AUS', 'AUS', 'PAK', 'IND']

In [104]:
# rating
R_AR_women.append(banner_rating_women[2])

for i in cell_rating_women[18:27]:
    R_AR_women.append(i)
    
R_AR_women

['373', '371', '366', '349', '336', '322', '292', '250', '232', '214']

In [105]:
print(len(P_AR_women),len(T_AR_women),len(R_AR_women))

10 10 10

In [106]:
# making dataframe
ODI_All_Rounder_ranking_women = pd.DataFrame({'Position':position,'Player':P_AR_women,'Team':T_AR_women,'Rating':R_AR_women})

print("\033[1m"+"Top 10 ODI Women's Bowling Rankings"+"\033[0m")

ODI_All_Rounder_ranking_women

Top 10 ODI Women's Bowling Rankings

   Position            Player Team Rating
0         1   Hayley Matthews   WI    373
1         2    Natalie Sciver  ENG    371
2         3      Ellyse Perry  AUS    366
3         4    Marizanne Kapp   SA    349
4         5       Amelia Kerr   NZ    336
5         6     Deepti Sharma  IND    322
6         7  Ashleigh Gardner  AUS    292
7         8     Jess Jonassen  AUS    250
8         9          Nida Dar  PAK    232
9        10    Jhulan Goswami  IND    214

#### 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame. 
#### i) Headline
#### ii) Time
#### iii) News Link

In [107]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [108]:
# send GET request

page_7 = requests.get('https://www.cnbc.com/world/?region=world')

In [109]:
# checking response
page_7

In [110]:
# page content
S7 = BeautifulSoup(page_7.content)

In [111]:
# headline
h = []
for i in S7.find_all('a', class_="LatestNews-headline"):
    h.append(i.text)
h

['Morgan Stanley says this beauty stock is gaining momentum, can jump nearly 20%',
 'Xpeng expands assisted driving tech coverage to Shanghai, something Tesla doesn’t offer in China',
 'Morgan Stanley says this e-commerce stock is a top pick, can surge nearly 40%',
 "'Nationalizing bond markets' left central banks unprepared for inflation, top economist says",
 'Euro zone price rises cool significantly in March, but core inflation hits record high',
 'Huawei reports biggest profit decline ever as U.S. sanctions, pandemic controls hit',
 'Treasury yields rise as investors await key inflation data',
 'Britain to join CPTPP in biggest trade deal since Brexit',
 "Turkey formally approves Finland's NATO membership; Ukraine marks one year since Bucha massacre",
 "World Bank raises outlook for East Asia, says region's banking sector is sound",
 "China's steel demand is set to slow. That could dent iron ore prices by nearly 30%",
 'CNBC Daily Open: Investors are pricing in the best of both worlds',
 'Comparing salaries and spotting gender pay gaps may be easier under new EU rules',
 'European stocks cautiously higher as euro zone inflation falls; U.S. data to come',
 "Goldman Sachs' top stock picks in Europe include three with over 100% upside",
 'This award-winning chef has a philosophy that can be applied to any career',
 'China’s banking troubles are not the same as Silicon Valley Bank, economist says',
 'Netflix and more: Analyst picks four stocks to ride out the volatility',
 "Will Peloton's rally last? Here's where Wall Street sees the stock going",
 'Asia-Pacific markets climb after tech stocks led gains on Wall Street',
 'CNBC Daily Open: Markets are pricing in the best of both worlds',
 "A recession may be coming, but Cramer says he's not seeing the early signs yet",
 "Bank of America's Andy Sieg is joining Citi as head of global wealth",
 'Trump indicted live updates: Ex-president expected to appear before judge Tuesday',
 'S&P 500 futures tick higher as traders get set to wrap up the first quarter',
 'Former President Donald Trump indicted by New York grand jury',
 "Turkey formally approves Finland's NATO membership, in setback for Russia",
 "Pro Picks: Watch all of Thursday's big stock calls on CNBC",
 'Virgin Orbit fails to secure funding, will cease operations and conduct layoffs',
 'Nikola announces a $100 million stock offering ']

In [112]:
link= []
for i in S7.find_all('a', class_="LatestNews-headline"):
    link.append(i.get('href'))
link

['https://www.cnbc.com/2023/03/31/morgan-stanley-says-this-beauty-stock-is-gaining-momentum-can-jump-nearly-20percent-.html',
 'https://www.cnbc.com/2023/03/31/xpeng-expands-assisted-driving-tech-coverage-to-shanghai-something-tesla-doesnt-offer-in-china.html',
 'https://www.cnbc.com/2023/03/31/morgan-stanley-says-meli-is-a-top-pick-that-could-surge-nearly-40percent.html',
 'https://www.cnbc.com/2023/03/31/nationalizing-bond-markets-left-central-banks-unprepared-for-inflation-hsbc.html',
 'https://www.cnbc.com/2023/03/31/inflation-euro-zone-dropped-march-but-the-ecb-rate-hike-path-is-unclear.html',
 'https://www.cnbc.com/2023/03/31/huawei-earnings-2022-biggest-profit-decline-since-2011-revenue-flat.html',
 'https://www.cnbc.com/2023/03/31/us-treasury-yields-investors-look-to-pce-inflation-data.html',
 'https://www.cnbc.com/2023/03/31/britain-to-join-cptpp-in-biggest-trade-deal-since-brexit.html',
 'https://www.cnbc.com/2023/03/31/russia-ukraine-live-updates.html',
 'https://www.cnbc.com/2023/03/31/world-bank-asia.html',
 'https://www.cnbc.com/2023/03/31/chinas-steel-demand-to-slow-could-dent-iron-ore-prices-by-nearly-30percent.html',
 'https://www.cnbc.com/2023/03/31/stock-markets-investors-are-pricing-in-the-best-of-both-worlds.html',
 'https://www.cnbc.com/2023/03/31/comparing-salaries-could-be-easier-under-these-new-eu-rules.html',
 'https://www.cnbc.com/2023/03/31/european-markets-open-to-close-earnings-data-and-news.html',
 'https://www.cnbc.com/2023/03/31/europe-stock-picks-from-goldman-sachs-which-gives-3-shares-100percent-upside.html',
 'https://www.cnbc.com/2023/03/31/leffervescences-shinobu-namae-shares-his-culinary-philosophy.html',
 'https://www.cnbc.com/2023/03/31/chinas-banking-troubles-not-the-same-as-silicon-valley-bank-economist.html',
 'https://www.cnbc.com/2023/03/31/nflx-shares-and-more-analyst-picks-four-stocks-for-market-volatility.html',
 'https://www.cnbc.com/2023/03/31/what-next-for-peloton-pton-shares-heres-wall-streets-views-on-the-fitness-stock.html',
 'https://www.cnbc.com/2023/03/31/asia-markets.html',
 'https://www.cnbc.com/2023/03/31/stock-markets-markets-are-pricing-in-the-best-of-both-worlds.html',
 'https://www.cnbc.com/2023/03/30/cramer-a-recession-may-be-coming-but-for-now-the-signs-are-invisible.html',
 'https://www.cnbc.com/2023/03/30/bank-of-americas-andy-sieg-is-joining-citi-as-head-of-global-wealth.html',
 'https://www.cnbc.com/2023/03/30/donald-trump-indictment-live-news-and-updates.html',
 'https://www.cnbc.com/2023/03/30/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2023/03/30/donald-trump-indicted-in-hush-money-payment-case.html',
 'https://www.cnbc.com/2023/03/31/turkey-formally-approves-finlands-nato-membership.html',
 'https://www.cnbc.com/2023/03/30/pro-picks-watch-all-of-thursdays-big-stock-calls-on-cnbc.html',
 'https://www.cnbc.com/2023/03/30/virgin-orbit-funding-ceasing-operations-layoffs.html',
 'https://www.cnbc.com/2023/03/30/nikola-announces-a-100-million-stock-offering-.html']

In [113]:
time = []
for i in S7.find_all('time', class_='LatestNews-timestamp'):
    time.append(i.text)
time

['8 Min Ago',
 '25 Min Ago',
 '47 Min Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '3 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '5 Hours Ago',
 '7 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago']

In [114]:
print(len(h),len(link),len(time))

30 30 30

In [115]:
# making DataFrame

News = pd.DataFrame({'Headline':h,'Time':time,'News Link':link})

News

,Headline,Time,News Link
0,Morgan Stanley says this beauty stock is gaini...,8 Min Ago,https://www.cnbc.com/2023/03/31/morgan-stanley...
1,Xpeng expands assisted driving tech coverage t...,25 Min Ago,https://www.cnbc.com/2023/03/31/xpeng-expands-...
2,Morgan Stanley says this e-commerce stock is a...,47 Min Ago,https://www.cnbc.com/2023/03/31/morgan-stanley...
3,'Nationalizing bond markets' left central bank...,1 Hour Ago,https://www.cnbc.com/2023/03/31/nationalizing-...
4,Euro zone price rises cool significantly in Ma...,2 Hours Ago,https://www.cnbc.com/2023/03/31/inflation-euro...
5,Huawei reports biggest profit decline ever as ...,2 Hours Ago,https://www.cnbc.com/2023/03/31/huawei-earning...
6,Treasury yields rise as investors await key in...,3 Hours Ago,https://www.cnbc.com/2023/03/31/us-treasury-yi...
7,Britain to join CPTPP in biggest trade deal si...,3 Hours Ago,https://www.cnbc.com/2023/03/31/britain-to-joi...
8,Turkey formally approves Finland's NATO member...,3 Hours Ago,https://www.cnbc.com/2023/03/31/russia-ukraine...
9,"World Bank raises outlook for East Asia, says ...",4 Hours Ago,https://www.cnbc.com/2023/03/31/world-bank-asi...
10,China's steel demand is set to slow. That coul...,4 Hours Ago,https://www.cnbc.com/2023/03/31/chinas-steel-d...
11,CNBC Daily Open: Investors are pricing in the ...,5 Hours Ago,https://www.cnbc.com/2023/03/31/stock-markets-...
12,Comparing salaries and spotting gender pay gap...,5 Hours Ago,https://www.cnbc.com/2023/03/31/comparing-sala...
13,European stocks cautiously higher as euro zone...,5 Hours Ago,https://www.cnbc.com/2023/03/31/european-marke...
14,Goldman Sachs' top stock picks in Europe inclu...,7 Hours Ago,https://www.cnbc.com/2023/03/31/europe-stock-p...
15,This award-winning chef has a philosophy that ...,9 Hours Ago,https://www.cnbc.com/2023/03/31/leffervescence...
16,China’s banking troubles are not the same as S...,10 Hours Ago,https://www.cnbc.com/2023/03/31/chinas-banking...
17,Netflix and more: Analyst picks four stocks to...,10 Hours Ago,https://www.cnbc.com/2023/03/31/nflx-shares-an...
18,Will Peloton's rally last? Here's where Wall S...,10 Hours Ago,https://www.cnbc.com/2023/03/31/what-next-for-...
19,Asia-Pacific markets climb after tech stocks l...,11 Hours Ago,https://www.cnbc.com/2023/03/31/asia-markets.html
20,CNBC Daily Open: Markets are pricing in the be...,11 Hours Ago,https://www.cnbc.com/2023/03/31/stock-markets-...
21,"A recession may be coming, but Cramer says he'...",11 Hours Ago,https://www.cnbc.com/2023/03/30/cramer-a-reces...
22,Bank of America's Andy Sieg is joining Citi as...,12 Hours Ago,https://www.cnbc.com/2023/03/30/bank-of-americ...
23,Trump indicted live updates: Ex-president expe...,13 Hours Ago,https://www.cnbc.com/2023/03/30/donald-trump-i...
24,S&P 500 futures tick higher as traders get set...,13 Hours Ago,https://www.cnbc.com/2023/03/30/stock-market-t...
25,Former President Donald Trump indicted by New ...,13 Hours Ago,https://www.cnbc.com/2023/03/30/donald-trump-i...
26,Turkey formally approves Finland's NATO member...,14 Hours Ago,https://www.cnbc.com/2023/03/31/turkey-formall...
27,Pro Picks: Watch all of Thursday's big stock c...,14 Hours Ago,https://www.cnbc.com/2023/03/30/pro-picks-watc...
28,"Virgin Orbit fails to secure funding, will cea...",14 Hours Ago,https://www.cnbc.com/2023/03/30/virgin-orbit-f...
29,Nikola announces a $100 million stock offering,14 Hours Ago,https://www.cnbc.com/2023/03/30/nikola-announc...

#### 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles Scrape below mentioned details and make data frame. 
#### i) Paper Title
#### ii) Authors
#### iii) Published Date
#### iv) Paper URL

In [116]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [117]:
# send GET request

page_8 = requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

In [118]:
# checking response code
page_8

In [119]:
# page content
S8 = BeautifulSoup(page_8.content)

In [120]:
paper_title = []      # empty list

for i in S8.find_all('h2', class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    paper_title.append(i.text)
    
paper_title

['Reward is enough',
 'Making sense of raw input',
 'Law and logic: A review from an argumentation perspective',
 'Creativity and artificial intelligence',
 'Artificial cognition for social human–robot interaction: An implementation',
 'Explanation in artificial intelligence: Insights from the social sciences',
 'Making sense of sensory input',
 'Conflict-based search for optimal multi-agent pathfinding',
 'Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning',
 'The Hanabi challenge: A new frontier for AI research',
 'Evaluating XAI: A comparison of rule-based and example-based explanations',
 'Argumentation in artificial intelligence',
 'Algorithms for computing strategies in two-player simultaneous move games',
 'Multiple object tracking: A literature review',
 'Selection of relevant features and examples in machine learning',
 'A survey of inverse reinforcement learning: Challenges, methods and progress',
 'Explaining individual predictions when features are dependent: More accurate approximations to Shapley values',
 'A review of possible effects of cognitive biases on interpretation of rule-based machine learning models',
 'Integrating social power into the decision-making of cognitive agents',
 "“That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems",
 'Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies',
 'Algorithm runtime prediction: Methods & evaluation',
 'Wrappers for feature subset selection',
 'Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics',
 'Quantum computation, quantum theory and AI']

In [121]:
authors = []      # empty list

for i in S8.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
    
authors

['Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. ',
 'Evans, Richard, Bošnjak, Matko and 5 more',
 'Prakken, Henry, Sartor, Giovanni ',
 'Boden, Margaret A. ',
 'Lemaignan, Séverin, Warnier, Mathieu and 3 more',
 'Miller, Tim ',
 'Evans, Richard, Hernández-Orallo, José and 3 more',
 'Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. ',
 'Sutton, Richard S., Precup, Doina, Singh, Satinder ',
 'Bard, Nolan, Foerster, Jakob N. and 13 more',
 'van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark ',
 'Bench-Capon, T.J.M., Dunne, Paul E. ',
 'Bošanský, Branislav, Lisý, Viliam and 3 more',
 'Luo, Wenhan, Xing, Junliang and 4 more',
 'Blum, Avrim L., Langley, Pat ',
 'Arora, Saurabh, Doshi, Prashant ',
 'Aas, Kjersti, Jullum, Martin, Løland, Anders ',
 'Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes ',
 'Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. ',
 'Riveiro, Maria, Thill, Serge ',
 'Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. ',
 'Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin ',
 'Kohavi, Ron, John, George H. ',
 'Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna ',
 'Ying, Mingsheng ']

In [122]:
published_date= []    # empty list

for i in S8.find_all('span', class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
    
published_date

['October 2021',
 'October 2021',
 'October 2015',
 'August 1998',
 'June 2017',
 'February 2019',
 'April 2021',
 'February 2015',
 'August 1999',
 'March 2020',
 'February 2021',
 'October 2007',
 'August 2016',
 'April 2021',
 'December 1997',
 'August 2021',
 'September 2021',
 'June 2021',
 'December 2016',
 'September 2021',
 'May 2021',
 'January 2014',
 'December 1997',
 'October 2021',
 'February 2010']

In [123]:
paper_url = []       # empty list

for i in S8.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    paper_url.append(i.get('href'))
    
paper_url

['https://www.sciencedirect.com/science/article/pii/S0004370221000862',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000722',
 'https://www.sciencedirect.com/science/article/pii/S0004370215000910',
 'https://www.sciencedirect.com/science/article/pii/S0004370298000551',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300790',
 'https://www.sciencedirect.com/science/article/pii/S0004370218305988',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301855',
 'https://www.sciencedirect.com/science/article/pii/S0004370214001386',
 'https://www.sciencedirect.com/science/article/pii/S0004370299000521',
 'https://www.sciencedirect.com/science/article/pii/S0004370219300116',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301533',
 'https://www.sciencedirect.com/science/article/pii/S0004370207000793',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300285',
 'https://www.sciencedirect.com/science/article/pii/S0004370220301958',
 'https://www.sciencedirect.com/science/article/pii/S0004370297000635',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000515',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000539',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000096',
 'https://www.sciencedirect.com/science/article/pii/S0004370216300868',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000588',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000102',
 'https://www.sciencedirect.com/science/article/pii/S0004370213001082',
 'https://www.sciencedirect.com/science/article/pii/S000437029700043X',
 'https://www.sciencedirect.com/science/article/pii/S0004370221000734',
 'https://www.sciencedirect.com/science/article/pii/S0004370209001398']

In [124]:
print(len(paper_title),len(authors),len(published_date),len(paper_url))

25 25 25 25

In [125]:
# making DataFrame

AI_most_downloaded_articles = pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':published_date,'Paper URL':paper_url})

print("\033[1m"+"The most downloaded articles from Artificial Intelligence in the last 90 days"+"\033[0m")

AI_most_downloaded_articles

The most downloaded articles from Artificial Intelligence in the last 90 days

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

#### 9) Write a python program to scrape mentioned details from dineout.co.in and make data frame.
#### i) Restaurant name
#### ii) Cuisine
#### iii) Location
#### iv) Ratings
#### v) Image URL

In [126]:
# Import requried libraries

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [127]:
# send GET request

page_9 = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [128]:
# checking response code
page_9

In [129]:
# page content
S9 = BeautifulSoup(page_9.content)

In [130]:
Rst_name = []   # empty list

for i in S9.find_all('a', class_="restnt-name ellipsis"):
    Rst_name.append(i.text)
    
Rst_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Cafe Knosh',
 'Castle Barbeque',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'Indian Grill Room']

In [131]:
cuisine = []    # empty list

for i in S9.find_all('span', class_="double-line-ellipsis"):
    cuisine.append(i.text.split('|')[1])
    
cuisine

[' Chinese, North Indian',
 ' North Indian, Asian, Italian',
 ' Italian, Continental',
 ' Chinese, North Indian',
 ' North Indian, Chinese',
 ' North Indian, Italian',
 ' North Indian',
 ' North Indian',
 ' North Indian, Mughlai']

In [132]:
location = []     # empty list

for i in S9.find_all('div', class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon']

In [133]:
rating_rst = []    # empty list

for i in S9.find_all('div', class_="restnt-rating rating-4"):
    rating_rst.append(i.text)
    
rating_rst

['4.1', '3.9', '4.3', '3.9', '3.9', '3.9', '3.7', '3.8', '4.3']

In [134]:
img = []     # empty list

for i in S9.find_all('img', class_="no-img"):
    img.append(i.get('data-src'))
    
img

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/p/m/p59633-166088382462ff137009010.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/p/k/p79307-16051787755fad1597f2bf9.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/d/i/p52501-1661855212630de5eceb6d2.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/f/p549-165000147262590640c0afc.jpg?tr=tr:n-medium']

In [135]:
print(len(Rst_name),len(cuisine),len(location),len(rating_rst),len(img))

9 9 9 9 9

In [136]:
# making DataFrame
dineout_details = pd.DataFrame({'Restaurant name':Rst_name,'Cuisine':cuisine,'Location':location,'Rating':rating_rst,'Image URL':img})

dineout_details

,Restaurant name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...